# Ignore heavy data files (Synced via OneDrive instead)
data/**/*.parquet
data/**/*.pdf
data/**/*.txt
data/**/*.csv

# Keep the folder structure!
# This trick allows the empty folders to exist on GitHub
!data/**/.gitkeep

# Ignore Python system files
__pycache__/
*.pyc
venv/
.env
.DS_Store